adept
adept_debug
adept_unittest
adept.exe
adept_debug.exe
obj/*
obj
bin/*
bin
MyMakefile
OriginalMakefile
main
pragma
*.dep
tests/native_linking/*.a
bugs/*
bugs
counter.py
*.DS_Store
.vscode/*
.vscode
*.o
build
tests/*/*.exe
Makefile_Windows_Backup_5_12_2019.txt
iwyu.out
.commit
misc/dev/remove_include_comments.regex
