.DS_Store
build
.vscode
__pycache__
__ignore__
tests/e2e/**/main
tests/e2e/**/*.o
tests/e2e/**/*.dep
tests/e2e/**/*.exe
tests/e2e/src/**/pragma/pragma
tests/e2e/src/native_linking/*.a
tests/e2e/unused
tests/e2e/src/runtime_resource/my_file.txt
tests/e2e/src/dylib/main.dll
tests/e2e/src/dylib/main.dylib
tests/e2e/src/dylib/main.so
tests/e2e/src/dylib/usage
bugs
dev/counter.py
dev/iwyu.out
dev/remove_include_comments.regex
next/grab_import.sh
next/main
next/next.adept
*.srctrlbm
*.srctrldb
*.srctrlprj
